<div class="container" ng-init='init()'>
    <div class="heading-container">
        <h2>List of Users</h2>
        <label>Search by Owner or Description
            <input class="form-control mt10" ng-model='searchText' placeholder="Search here...">
        </label>
    </div>
    <div ng-if="!isUserLoading">
        <table class="table table-bordered table-striped table-hover  mt20">
            <thead>
                <tr>
                    <th width="150">Owner</th>
                    <th>Description</th>
                    <th width="200">Last updated</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" ng-repeat='user in users | filter:searchText' ng-if='showUsers($index)' ng-click='showDetails(user)'>
                    <td>{{user.owner.login || 'N/A'}}</td>
                    <td>{{user.description || 'No Description'}}</td>
                    <td>{{user.updated_at | date : 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pull-right" uib-pagination total-items="totalItems" ng-model="cfg.currentPage" items-per-page='cfg.rowsPerPage' ng-change="pageChanged()"></ul>
    </div>
    <div class="text-center table-loading mt10" ng-show="isUserLoading">
        <i class="fa fa-spinner fa-spin spinner-loader"></i> &nbsp; <span class="spinner-text">Loading users</span>
    </div>
</div>